@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Dosis:wght@200;300;400;500;600;700;800&family=DynaPuff:wght@400;500;600;700&family=Mouse+Memoirs&family=Peralta&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
end,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: #202020;
	overflow-x: hidden;
}

button,
textarea {
	font-family: inherit;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-style: inherit;
	font-weight: 400;
}

::-webkit-scrollbar {
	width: 0;
}

:root {
	--color-green: #bcfe2f;
	--color-blue: #4db5ff;
	--color-orange: #ff7427;
}

.container {
	margin: 0 auto;
	height: 100%;
	overflow: visible;
	display: flex;
	z-index: 80;
	position: relative;
	transition: 0.8s;
}

.smooth-scroll {
	overflow-x: hidden;
}
body {
	display: flex;
	justify-content: flex-end;
	font-family: "Montserrat";
}
.block {
	width: 50vw;
	height: 100vh;
	padding: 20px;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
p {
	width: 100%;
	font-size: 24px;
	line-height: 110%;
	color: #fff;
	font-weight: 500;
	margin-bottom: 20px;
	animation: soss2 0.8s 0s forwards;
	opacity: 0;
}
span {
	color: #eee;
	font-weight: 300;
	font-size: 20px;
	animation: soss2 0.8s 0.2s forwards;
	opacity: 0;
}
@keyframes soss2 {
	100% {
		opacity: 1;
	}
}
.ora {
	color: var(--color-orange);
	font-weight: 500;
}
.blu {
	color: var(--color-blue);
	font-weight: 500;
}
.gre {
	color: var(--color-green);
	font-weight: 500;
}
.main__3d {
	height: 100vh;
	display: flex;
	width: 50vw;
	background: #101010;
	justify-content: center;
	opacity: 0;
	align-items: center;
	transform: scale(0);
	animation: soss 1s 0.4s forwards;
	will-change: transform;
}
@keyframes soss {
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.main__3d canvas {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	width: 100vw;
}

html.has-scroll-smooth {
	overflow: hidden;
}

html.has-scroll-dragging {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.has-scroll-smooth body {
	overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh;
	overflow-y: scroll;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
	height: 100vh;
	display: inline-block;
	white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	height: 100%;
}

.c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100%;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0;
}

.c-scrollbar:hover {
	transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
	opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
	width: 100%;
	height: 10px;
	top: auto;
	bottom: 0;
	transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
	transform: scaleY(1.3);
}

.c-scrollbar_thumb {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #c2c2c242;
	opacity: 0.5;
	width: 7px;
	border-radius: 10px;
	margin: 2px;
	cursor: -webkit-grab;
	cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
	right: auto;
	bottom: 0;
}
